{% extends "baza.html" %}

{% block glowa %}
    <title>{{ title }}</title>
{% endblock %}

{% block cialo %}
<div class="row">
    <div class="col-md-9">

        <article class="media content-section">

            <div class="media-body">
                <h2 class="article-title">{{ aktualnosc.tytul }}</h2>
                {% if aktualnosc.zdjecie %}
                <img class="rounded aktualnosci-img mb-1"
                     src="{{ url_for('static', filename='media/aktualnosci/' + aktualnosc.zdjecie) }}">
                {% endif %}
                {% if aktualnosc.videoUrl %}
                <iframe class="aktualnosci-video mb-1" src="{{aktualnosc.videoUrl}}" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                {% endif %}
                <p class="article-content">{{ aktualnosc.tresc }}</p>
                {% if admin == current_user.email %}
                <a class="btn btn-outline-secondary"
                   href="{{ url_for('aktualizujAktualnosc', aktualnosc_id=aktualnosc.id)  }}">Aktualizuj</a>
                <a class="btn btn-outline-secondary text-light" data-toggle="modal"
                   data-target="#usuniecieModal">Usuń</a>
                {% endif %}
            </div>

        </article>

        <div class="modal fade" id="usuniecieModal" tabindex="-1" role="dialog" aria-labelledby="usuniecieModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="usuniecieModalLabel">Usunięcie aktualności</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Czy chcesz usunąć aktualność?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-outline-secondary" data-dismiss="modal">Zamknij</a>
                        <a class="btn btn-outline-secondary text-light"
                           href="{{ url_for('usunAktualnosc', aktualnosc_id=aktualnosc.id)  }}">Potwierdź usunięcie</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="content-section">
            <h3>Menu Aktualności</h3>
            <ul class="list-group">
                <a li class="list-group-item list-group-item-dark" href="{{ url_for('aktualnosci') }}">Wróc do aktualności</a li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}