{% extends "baza.html" %}

{% block glowa %}
    <title>Aktualności</title>
{% endblock %}

{% block cialo %}
<div class="row">
    <div class="col-md-9">

    {% for aktualnosc in aktualnosci.items %}
        <article class="media content-section">

            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2 text-secondary" href="#">{{ aktualnosc.autor }}</a>
                    <small class="text-muted">{{ aktualnosc.data.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('aktualnosc', aktualnosc_id=aktualnosc.id)  }}">{{ aktualnosc.tytul }}</a></h2>
                {% if aktualnosc.zdjecie %}
                    <img class="rounded aktualnosci-img mb-3" src="{{ url_for('static', filename='media/aktualnosci/' + aktualnosc.zdjecie) }}">
                {% endif %}
                {% if aktualnosc.videoUrl %}
                    <iframe class="aktualnosci-video mb-3" src="{{aktualnosc.videoUrl}}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>

                {% endif %}
                <p class="article-content">{{ aktualnosc.tresc }}</p>
            </div>

        </article>
    {% endfor %}

    {% for page_num in aktualnosci.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

        {% if page_num %}
            {% if aktualnosci.page == page_num %}
                <a class="btn btn-outline-secondary active mx-1" href="{{ url_for('aktualnosci', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-secondary mx-1" href="{{ url_for('aktualnosci', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            <a class="h1 text-light">...</a>
        {% endif %}

    {% endfor %}

    </div>

    <div class="col-md-3">
        <div class="content-section">
            <h3>Menu Aktualności</h3>
            <ul class="list-group">
                {% if current_user.is_authenticated %}
                {% if current_user.email == admin %}
                <a li class="list-group-item list-group-item-dark" href="{{ url_for('dodanieAktualnosci') }}">Dodaj aktualności</a li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}