<!DOCTYPE HTML>
<html lang="pl">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="serwis komputerowy TwójKomputerowiec">
        <meta name="keywords" content="serwis, naprawa, komputer">
        <meta name="author" content="Piotr Górecki">
        <meta name="google-site-verification" content="rWIOWI_ASigdgJqb7OYjQUbNoo0c2D9zS7rpJ2zfWdQ" />
        <meta name="google-site-verification" content="68KRUttvJOLOrRJ_hVzqzjSLFXHqMZEjuxNZEbOLDtU" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='media/ikony/pgwhite600black.png') }}">
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='glowny.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontello/fontello-a1256c3a/css/fontello.css') }}">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap" rel="stylesheet">

        {% block glowa %}{% endblock %}
    </head>

    <body onload="currentTimeAndDate();">
        <header class="site-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <img style="width: 100%; height: auto;" src="{{ url_for('static', filename='media/ikony/pgwhite600black.png') }}"/>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="btn btn-outline-secondary w-100 mx-1" href="{{ url_for('stronaStartowa') }}">Domowa</a>
                            <a class="btn btn-outline-secondary w-100 mx-1" href="{{ url_for('aktualnosci') }}">Aktualności</a>
                            <a class="btn btn-outline-secondary w-100 mx-1" href="{{ url_for('kontakt') }}">Kontakt</a>
                            <a class="btn btn-outline-secondary w-100 mx-1" href="{{ url_for('oMnie') }}">O mnie</a>
                            <a class="btn btn-outline-secondary w-100 mx-1" href="{{ url_for('galeria') }}">Galeria</a>
                            <a class="btn btn-outline-secondary w-100 mx-1" href="{{ url_for('sklep') }}">Sklep</a>
                            <li class="nav-item dropdown">
                                <button class="btn btn-outline-secondary w-100 mx-1" id="subnav" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dodatkowo
                                </button>
                                <div class="dropdown-menu bg-dark ml-1" aria-labelledby="subnav">
                                    <a class="dropdown-item bg-dark" href="{{ url_for('blogZawodowo') }}">Blog</a>
                                    <a class="dropdown-item bg-dark" href="{{ url_for('pliki') }}">Pliki: server1</a>
                                    <a class="dropdown-item bg-dark" href="{{ url_for('pliki2') }}">Pliki: server2</a>
                                    <a class="dropdown-item bg-dark" href="{{ url_for('testowa') }}">Testowa</a>
                                </div>
                            </li>
                            <div id="zegar">00:00:00</div>
                        </div>

                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <a class="btn btn-outline-secondary w-100 mx-1" type="link" href="{{ url_for('profil') }}">Profil</a>
                                <a class="btn btn-outline-secondary w-100 mx-1" type="link" href="{{ url_for('wylogowanie') }}">Wyloguj</a>
                            {% else %}
                                <a class="btn btn-outline-secondary w-100 mx-1" type="link" href="{{ url_for('logowanie') }}">Loguj</a>
                                <a class="btn btn-outline-secondary w-100 mx-1" type="link" href="{{ url_for('rejestracja') }}">Rejestruj</a>
                            {% endif %}
                        </div>
                        {% if request.path == '/sklep' %}
                        <a href="{{ url_for('karta') }}">
                            <img class="basket-img" src="{{ url_for('static', filename='media/sklep/basket2_white.png') }}">
                            {% if zamowienie %}
                                <p id="cart-total"> {{ zamowienie.iloscProduktow }} </p>
                            {% else %}
                                <p id="cart-total"> 0 </p>
                            {% endif %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container" style="min-height: 72vh;">
            {%  with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='jquery.scrollTo.min.js') }}"></script>
            <script src="{{ url_for('static', filename='jquery.scrollUpDown.js') }}"></script>
            <script src="{{ url_for('static', filename='zegar.js') }}"></script>
            <a href="#" class="scrollup"></a>

            {% block cialo %}{% endblock %}
        </main>

        <footer>
            <div class="socials">
                <a href="https://www.youtube.com/watch?v=Zc8sgcFzh8U&list=PLvWGmxma3ypQXRKYWGJt8z68SPL-BQtXa&index=2" target="_blank" class="socialmedia youtube">
                    <i class="icon-youtube"></i>
                </a>
                <a href="https://github.com/piotrek24061988" target="_blank" class="socialmedia github">
                    <i class="icon-github-squared"></i>
                </a>
                <a href="https://bitbucket.org/piotrek24061988" target="_blank" class="socialmedia bitbucket">
                    <i class="icon-bitbucket-squared"></i>
                </a>
                <a href="https://www.linkedin.com/in/piotr-górecki-1b364087/" target="_blank" class="socialmedia linkedin">
                    <i class="icon-linkedin-squared"></i>
                </a>
                <div style="clear:both"></div>
            </div>
        </footer>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- JQuery for own needs -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>

</html>