{% extends "baza.html" %}

{% block glowa %}
        <title>Strona startowa</title>
{% endblock %}

{% block cialo %}
<div class="domowa">
        <div class="box">
                <span style="--i:1">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/serwisKomputerowy.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">serwis komputerowy</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">naprawię twój uszkodzony sprzęt komputerowy</p>
                </span>
                <span style="--i:2">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/siecDomowa.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">informatyzacja domu</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">rozwiąże problemy informatyczne w Twoim mieszkaniu</p>
                </span>
                <span style="--i:3">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/serwer.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">informatyzacja firm</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">zmodernizuję infrastrukturę informatyczną Twojej firmy</p>
                </span>
                <span style="--i:4">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/web.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">strony www</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">zajmę się Twoją stroną internetową</p>
                </span>
                <span style="--i:5">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/programowanie.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">programowanie</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">zrealizuję dla Ciebie projekt informatyczny</p>
                </span>
                <span style="--i:6">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/pcb.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">elektronika</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">zajmę się Twoją elektroniką</p>
                </span>
                <span style="--i:7">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/automatyka.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">automatyka</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">zrealizuje dla Ciebie projekt z obszaru automatyki</p>
                </span>
                <span style="--i:8">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/media.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">social media</figcaption>
                        </figure>
                        <p class="figure-section text-center text-wrap">zajmę się utrzymaniem Twojej firmy na Faceboku, Twiterze, Instagramie itp.</p>
                </span>
        </div>
</div>
{% endblock %}