{% extends "baza.html" %}

{% block glowa %}
        <title>Strona startowa</title>
{% endblock %}

{% block cialo %}
<div class="domowa">
        <div class="box">
                <span style="--i:1">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/serwisKomputerowy.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">serwis komputerowy</figcaption>
                        </figure>
                </span>
                <span style="--i:2">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/siecDomowa.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">informatyzacja mieszkań</figcaption>
                        </figure>
                </span>
                <span style="--i:3">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/serwer.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">informatyzacja firm</figcaption>
                        </figure>
                </span>
                <span style="--i:4">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/web.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">strony www</figcaption>
                        </figure>
                </span>
                <span style="--i:5">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/programowanie.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">programowanie</figcaption>
                        </figure>
                </span>
                <span style="--i:6">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/pcb.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">elektronika</figcaption>
                        </figure>
                </span>
                <span style="--i:7">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/automatyka.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">automatyka</figcaption>
                        </figure>
                </span>
                <span style="--i:8">
                        <figure class="border text-center rounded figure-section">
                                <img src="{{ url_for('static', filename='media/glowna/media.jpg') }}" class="img-fluid"/>
                                <figcaption class="text-light">social media</figcaption>
                        </figure>
                </span>
        </div>
</div>
{% endblock %}