{% extends "baza.html" %}

{% block glowa %}
<title>Karta</title>
{% endblock %}

{% block cialo %}

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="border text-center rounded bg-dark store-section mb-5">
                <table class="table">
                    <tr>
                        <th></th>
                        <th><h6>Produkt:</h6></th>
                        <th><h6>Cena:</h6></th>
                        <th><h6>Ilość:</h6>
                        </th>
                        <th><h6>Cena łączna:</h6></th>
                    </tr>

                    {% if zamowienie %}
                    {% for zamowienieProduktu in zamowienie.obiektZamowienia %}
                    <tr>
                        <th>
                            <a href="{{ url_for('produkt', produkt_id=zamowienieProduktu.produkt.id) }}">
                                <img src="{{ url_for('static', filename='media/sklep/' + zamowienieProduktu.produkt.zdjecie) }}" class="img-fluid text-center" style="max-width: 50px; height: auto;">
                            </a>
                        </th>
                        <th><h6>{{ zamowienieProduktu.produkt.tytul }}</h6></th>
                        <th><h6>{{'%0.2f'|format(zamowienieProduktu.produkt.cena|float)}} zł</h6></th>
                        <th>
                            <a href="{{ url_for('zmniejszKosz', produkt_id=zamowienieProduktu.produkt.id) }}">
                                <img class="store-quant-img update-cart update-cart1" data-product="{{ zamowienieProduktu.produkt.id }}" data-action="decrease" src="{{ url_for('static', filename='media/ikony/scrolldown.png') }}">
                            </a>
                            <!--<button class="btn btn-link bg-transparent update-cart2" data-product="{{ zamowienieProduktu.produkt.id }}" data-action="decrease">
                                <img class="store-quant-img" src="{{ url_for('static', filename='media/ikony/scrolldown.png') }}">
                            </button>-->
                            <h6 class="store-quant">{{ zamowienieProduktu.ilosc }}</h6>
                            <a href="{{ url_for('zwiekszKosz', produkt_id=zamowienieProduktu.produkt.id) }}">
                                <img class="store-quant-img update-cart update-cart1" data-product="{{ zamowienieProduktu.produkt.id }}" data-action="increase" src="{{ url_for('static', filename='media/ikony/scrollup.png') }}">
                            </a>
                            <!--<button class="btn btn-link bg-transparent update-cart2" data-product="{{ zamowienieProduktu.produkt.id }}" data-action="increase">
                                <img class="store-quant-img" src="{{ url_for('static', filename='media/ikony/scrollup.png') }}">
                            </button>-->
                        </th>
                        <th><h6>{{'%0.2f'|format(zamowienieProduktu.calkowitaCena|float)}} zł</h6></th>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>

            <div class="border text-center rounded bg-dark store-section mb-5">
                <table class="table">
                    <tr>
                        <th>
                            <a href="{{ url_for('sklep') }}"><button class="btn btn-outline-secondary w-100 update-cart">Sklep</button></a>
                        </th>
                        <th><h6>Produkty: {{ zamowienie.iloscProduktow }}</h6></th>
                        <th><h6>Kwota: {{'%0.2f'|format(zamowienie.lacznaCena|float)}} zł</h6></th>
                        <th>
                            <a href="{{ url_for('zamowienie') }}"><button class="btn btn-outline-secondary w-100 update-cart">Zamów</button></a>
                        </th>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-md-3">
            <div class="content-section">
                <h3>Menu Sklepu</h3>
                <ul class="list-group">
                    <a li class="list-group-item list-group-item-dark mb-1" href="{{ url_for('sklep') }}">Idż do sklepu</a li>
                    <a li class="list-group-item list-group-item-dark mb-1" href="{{ url_for('zamowienie') }}">Podsumuj zamówienie</a li>
                </ul>
            </div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='ciasteczka.js') }}"></script>
<script type="text/javascript">
         var userAuthenticated = '{{ current_user.is_authenticated }}'
</script>
<script src="{{ url_for('static', filename='tokenCSRF.js') }}"></script>
<script src="{{ url_for('static', filename='sklep.js') }}"></script>
{% endblock %}