{% extends "baza.html" %}

{% block glowa %}
    <title>Kontakt</title>
{% endblock %}

{% block cialo %}
    <div class="content-section">
        <h3 class="text-left">Zadzwoń</h3>
        <h5>telefon: 537 24 06 88</h5>
    </div>

    <div class="content-section">
        <h3 class="text-left">Napisz maila</h3>
        <h5>email: piotrek24061988@gmail.com</h5>
    </div>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Skontaktuj się za pomocą naszej strony internetowej</h3>
                <div class="form-group">
                    {{ form.kontakt.label(class="form-control-label") }}
                    {% if form.kontakt.errors  %}
                        {{ form.kontakt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.kontakt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.kontakt(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.temat.label(class="form-control-label") }}
                    {% if form.temat.errors  %}
                        {{ form.temat(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.temat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.temat(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.tresc.label(class="form-control-label") }}
                    {% if form.tresc.errors  %}
                        {{ form.tresc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tresc.errors %}
                                <span>{{ tresc }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.tresc(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.potwierdzenie(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
{% endblock %}