{% extends "baza.html" %}

{% block glowa %}
    <title>{{ title }}</title>
{% endblock %}

{% block cialo %}
<div class="row">
    <div class="col-md-9">

        <div class="content-section">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <h3 class="border-bottom mb-4"> {{ title }} </h3>
                    <div class="form-group">
                        {{ form.tytul.label(class="form-control-label") }}
                        {% if form.tytul.errors %}
                        {{ form.tytul(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tytul.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.tytul(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.tresc.label(class="form-control-label") }}
                        {% if form.tresc.errors %}
                        {{ form.tresc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tresc.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.tresc(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.zdjecie.label(class="btn btn-outline-secondary") }}
                        {{ form.zdjecie(class="myinput") }}
                        {% if form.zdjecie.errors %}
                        {% for error in form.zdjecie.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.videoUrl.label(class="form-control-label") }}
                        {% if form.videoUrl.errors %}
                        {{ form.videoUrl(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.videoUrl.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.videoUrl(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.potwierdzenie(class="btn btn-outline-secondary") }}
                </div>
            </form>
        </div>

    </div>

    <div class="col-md-3">
        <div class="content-section">
            <h3>Menu Aktualności</h3>
            <ul class="list-group">
                <a li class="list-group-item list-group-item-dark" href="{{ url_for('aktualnosci') }}">Wróc do aktualności</a li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}