{% extends "baza.html" %}

{% block glowa %}
    <title>{{ title }}</title>
{% endblock %}

{% block cialo %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Nowy post</h3>
                <div class="form-group">
                    {{ form.tytul.label(class="form-control-label") }}
                    {% if form.tytul.errors  %}
                        {{ form.tytul(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tytul.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tytul(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.tresc.label(class="form-control-label") }}
                    {% if form.tresc.errors  %}
                        {{ form.tresc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tresc.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.tresc(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.potwierdzenie(class="btn btn-outline-secondary") }}
            </div>
{% endblock %}