{% extends "baza.html" %}

{% block glowa %}
    <title>O mnie</title>
{% endblock %}

{% block cialo %}
     <div class="container">
          <div class="row">

              <div class="col-md-4">
                  <div class="content-section mb-1 text-center">
                      <h3>Twój komputerowiec</h3>
                  </div>
                  <img class="rounded aktualnosci-img mb-1" src="{{ url_for('static', filename='/media/profil/piotrek24061988.jpg') }}">
                  <div class="content-section">
                      <h5>Piotr Górecki</h5>
                      <h5>piotrek24061988@gmail.com</h5>
                      <h5>53724061988</h5>
                  </div>

                  <div class="content-section">
                      <h6>języki programowania: <strong class="text-muted">C / C++ / Python</strong></h6>
                      <h6>frameworki: <strong class="text-muted">Autosar / Qt / Flask / Django</strong></h6>
                      <h6>web-dev: <strong class="text-muted">HTML / CSS / JS / Bootstrap</strong></h6>
                      <h6>sieci: <strong class="text-muted">Cisco CCNA / Wirtualizacja ESX</strong></h6>
                      <h6>osy: <strong class="text-muted">Windows / Linux / ESX / QNX / FreeRTOS / OSEK</strong></h6>
                      <h6>pcb: <strong class="text-muted">KiCAD / Protel (Altium Designer) / Eagle</strong></h6>
                      <h6>integracja: <strong class="text-muted">Jenkins / CircleCi</strong></h6>
                      <h6>hosting / claud: <strong class="text-muted">Heroku / PythonAnywhere</strong></h6>
                      <h6>magistrale: <strong class="text-muted">Ethernet / CAN / RS </strong></h6>
                      <h6>mikrokontrolery: <strong class="text-muted">8051 /AVR / STM / SPC56</strong></h6>
                      <h6>plc: <strong class="text-muted">Phoenix Contact / Selectron</strong></h6>
                  </div>
              </div>

              <div class="col-md-8 experience-section">

                  <div class="content-section m-3 text-center">
                      <h4>Elektronika / Automatyka / Robotyka / Informatyka / Programowanie</h4>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.globallogic.com/pl/" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/globallogic.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2021-obecnie</h4>
                          <h5 class="text-muted">Globallogic</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.globallogic.com/about/news/globallogic-acquires-meelogic" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/meelogic.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2019-2021</h4>
                          <h5 class="text-muted">Melogic Consulting</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://mobica.com" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/mobica.png') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2014-2019</h4>
                          <h5 class="text-muted">Mobica Limited</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="http://pesa.pl" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/pesa.jpeg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2011-2013</h4>
                          <h5 class="text-muted">Pojazdy Szynowe Pesa Bydgoszcz SA</h5>
                          <h6>samodzielny konstruktor</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.fizyka.umk.pl/kaisp" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/umk.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2008-2012</h4>
                          <h5 class="text-muted">Uniwersystet Mikołaja Kopernika w Toruniu</h5>
                          <h6>inzynier automatyki i robotyki</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://zse.bydgoszcz.pl" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/zse.png') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2004-2008</h4>
                          <h5 class="text-muted">Zespół Szkół Elektronicznych w Bydgoszczy</h5>
                          <h6>technik elektronik</h6>
                      </div>
                  </div>

              </div>

          </div>

         <div class="row">

             <div class="col-md-12 content-section test-justify">

                 <p>
                 <h2>2019-obecnie</h2>
                 <h5>
                     Praca w firmie <big class="text-muted">Meelogic Consulting</big>, która w latach 2020 i 2021 stała się częścią firm
                     <big class="text-muted">Globallogic</big> i <big class="text-muted">Hitachi</big>, na stanowisku <big class="text-muted">programisty</big>.
                     Programowanie systemów wbudowanych zarządzania baterii samochodów elektrycznych w języku <big class="text-muted">C</big> oraz z wykorzystaniem
                     środowiska <big class="text-muted">Matlab/Simulink</big> w oparciu o architekturę <big class="text-muted">AUTOSAR</big> przy użyciu
                     programów <big class="text-muted">Davinci Developer, CANoe, CANape</big>.
                     Praca w standardzie <big class="text-muted">ASPICE</big> z dużym naciskiem na problematykę <big class="text-muted">functional safety ASIL</big>.

                     <br><br>
                     Opracowywanie i implementacja stron internetowych, sklepów internetowych z podziałem na <big class="text-muted">backend</big> z wykorzystaniem języka
                     <big class="text-muted">Python</big> oraz frameworków <big class="text-muted">Django/Flask</big> oraz <big class="text-muted">frontend</big>
                     przy wykorzystaniu <big class="text-muted">HTML/CSS/JS/Bootstrap</big>. Praca z wykorzystaniem rozwiązań chmurowych/hostingowych
                     <big class="text-muted">Heroku</big> i <big class="text-muted">PythonAnywhere</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2014-2019</h2>
                 <h5>
                     Praca w firmie <big class="text-muted">Mobica Limited</big> na stanowisku <big class="text-muted">programisty</big>.
                     Programowanie komputerów pokładowych <big class="text-muted">car infotainment system</big> opratych o systemy operacyjne <big class="text-muted">Linux/Qnx</big> samochodów osobowych
                     z wykorzystaniem języków programowania <big class="text-muted">C/C++/Python</big>. Integracja silników nawigacji samochodowych firm
                     <big class="text-muted">Elektrobit/TomTom/Neusoft</big> oraz silników multimedialnych firmy <big class="text-muted">Cinemo</big>.
                     Automatyzacja prcesów integracyjnych z wykorzystaniem <big class="text-muted">Jenkins/CircleCI</big>.
                     Praca w standardzie <big class="text-muted">ASPICE</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2011-2013</h2>
                 <h5>
                     Praca w firmie <big class="text-muted">Pesa Bydgoszcz SA</big> na stanowisku <big class="text-muted">samodzielny konstruktor</big>
                     w dziale <big class="text-muted">Badań i Rozwoju</big>. Wykonywanie obowiązków programisty <big class="text-muted">systemów wbudowanych</big>
                     opartych o system operacyjny <big class="text-muted">Linux</big> polegających na implementacji aplikacji w
                     <big class="text-muted">C/C++/Python</big> z wykorzystaniem bibliotek <big class="text-muted">Qt</big> oraz
                     implementacji oprogramownia sterowników <big class="text-muted">PLC</big>, przy
                     silnym wykorzystaniu magistral komunikacyjnych <big class="text-muted">RS232/485, CAN, Ethernet</big>.
                     Praca z zagadnieniami bezpieczeństwa <big class="text-muted">functional safety, SIL</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2008-2012</h2>
                 <h5>
                     Studia inżynierskie na <big class="text-muted">Uniwersytecie Mikołaja Kopernika w Toruniu</big> o kierunku
                     <big class="text-muted">Automatyka i Robotyka</big> i specjalności <big class="text-muted">Systemy Mikroprocesorowe</big>
                     z naciskiem na programowanie komputerów w językach <big class="text-muted">C/C++/Python</big> oraz mikrokontrolerów
                     <big class="text-muted">AVR</big> i <big class="text-muted">STM32</big>  w <big class="text-muted">asemblerze</big> i
                     <big class="text-muted">C</big> oraz wykorzystaniu magistral komunikacyjnych <big class="text-muted">RS232/485, CAN, Ethernet</big>.
                     Wykonanie pracy inżynierskiej <big class="text-muted">Implementacja magistrali ethernet w mikrokontrolerach</big>
                     polegającej na wyposażeniu mikrokontrolerów <big class="text-muted">AVR atmega128</big> oraz <big class="text-muted">STM32f107</big>
                     w magistralę <big class="text-muted">ethernet</big> oraz stos <big class="text-muted">TCP/IP lwip</big>
                     i integrację systemu operacyjnego <big class="text-muted">FreeRTOS</big>. Wykonanie testowej sieci ethernetowej i implementacja
                     nadzorczej aplikacji komputerowej w <big class="text-muted">Qt C++</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                    <h2>2004-2008</h2>
                    <h5>
                        Nauka w <big class="text-muted">technikum elektronicznym w Bydgoszczy</big> z naciskiem na opracowywanie układów
                        cyfrowych oraz programowanie mikrokontrolerów <big class="text-muted">8051</big> i <big class="text-muted">AVR</big>
                        w <big class="text-muted">asemblerze</big> i <big class="text-muted">C</big> a także projektowanie obwodów drukowanych
                        w programach <big class="text-muted">EAGLE</big> i <big class="text-muted">Protel (Altium Designer)</big> jak również
                        automatyzacje procesu wytwarzania obwodów drukowanych metodą fotochemiczną.
                    </h5>
                 </p>

             </div>
         </div>
     </div>
{% endblock %}