{% extends "baza.html" %}

{% block glowa %}
    <title>O mnie</title>
{% endblock %}

{% block cialo %}
     <div class="container">
          <div class="row">

              <div class="col-md-4">
                  <div class="content-section mb-1 text-center">
                      <h3>Twój informatyk</h3>
                  </div>
                  <img class="rounded aktualnosci-img mb-1" src="{{ url_for('static', filename='/media/profil/piotrek24061988.jpg') }}">
                  <div class="content-section">
                      <h5>Piotr Górecki</h5>
                      <h5>piotrek24061988@gmail.com</h5>
                      <h5>53724061988</h5>
                  </div>

                  <div class="content-section">
                      <h6>języki programowania: C / C++ / Python</h6>
                      <h6>frameworki: Autosar / Qt / Flask / Django</h6>
                      <h6>sieci: Cisco CCNA / Wirtualizacja ESX</h6>
                      <h6>osy: Windows / Linux / ESX / QNX / FreeRTOS / OSEK</h6>
                      <h6>pcb: KiCAD / Altium Designer / Eagle</h6>
                      <h6>web: HTML / CSS / JS / Bootstrap</h6>
                      <h6>integracja: Jenkins / CircleCi / Heroku / Pythonanywhere</h6>
                      <h6>magistrale: Ethernet / CAN / RS </h6>
                      <h6>mikrokontrolery: 8051 / AVR / ST</h6>
                  </div>
              </div>

              <div class="col-md-8 experience-section">

                  <div class="content-section m-3 text-center">
                      <h4>Elektronika / Automatyka / Robotyka / Informatyka / Programowanie</h4>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.globallogic.com/pl/" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/globallogic.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2021-obecnie</h4>
                          <h5>Globallogic</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.globallogic.com/about/news/globallogic-acquires-meelogic" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/meelogic.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2019-2021</h4>
                          <h5>Melogic Consulting</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://mobica.com" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/mobica.png') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2014-2019</h4>
                          <h5>Mobica Limited</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="http://pesa.pl" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/pesa.jpeg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2011-2013</h4>
                          <h5>Pojazdy Szynowe Pesa Bydgoszcz SA</h5>
                          <h6>samodzielny konstruktor</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.fizyka.umk.pl/kaisp" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/umk.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2008-2012</h4>
                          <h5>Uniwersystet Mikołaja Kopernika w Toruniu</h5>
                          <h6>inzynier automatyki i robotyki</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://zse.bydgoszcz.pl" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/zse.png') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2004-2008</h4>
                          <h5>Zespół Szkół Elektronicznych w Bydgoszczy</h5>
                          <h6>technik elektronik</h6>
                      </div>
                  </div>

              </div>

          </div>

         <div class="row">

             <div class="col-md-12 content-section test-justify">

                 <p>
                 <h2>2019-obecnie</h2>
                 <h5>
                     Praca w firmie <big class="text-warning">Meelogic Consulting</big>, która w latach 2020 i 2021 stała się częścią firm
                     <big class="text-warning">Globallogic</big> i <big class="text-warning">Hitachi</big>, na stanowisku <big class="text-warning">programisty</big>.
                     Programowanie systemów wbudowanych zarządzania baterii samochodów elektrycznych w języku <big class="text-warning">C</big> oraz z wykorzystaniem
                     środowiska <big class="text-warning">Matlab/Simulink</big> w oparciu o architekturę <big class="text-warning">AUTOSAR</big> przy użyciu
                     programów <big class="text-warning">Davinci Developer, CANoe, CANape</big>.
                     Praca w standardzie <big class="text-warning">ASPICE</big> z dużym naciskiem na problematykę <big class="text-warning">functional safety ASIL</big>.

                     <br><br>
                     Opracowywanie i implementacja stron internetowych, sklepów internetowych z podziałem na <big class="text-warning">backend</big> z wykorzystaniem języka
                     <big class="text-warning">Python</big> oraz frameworków <big class="text-warning">Django/Flask</big> oraz <big class="text-warning">frontend</big>
                     przy wykorzystaniu <big class="text-warning">HTML/CSS/JS/Bootstrap</big>. Praca z wykorzystaniem rozwiązań chmurowych/hostingowych
                     <big class="text-warning">Heroku</big> i <big class="text-warning">PythonAnywhere</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2014-2019</h2>
                 <h5>
                     Praca w firmie <big class="text-warning">Mobica Limited</big> na stanowisku <big class="text-warning">programisty</big>.
                     Programowanie komputerów pokładowych <big class="text-warning">car infotainment system</big> opratych o systemy operacyjne <big class="text-warning">Linux/Qnx</big> samochodów osobowych
                     z wykorzystaniem języków programowania <big class="text-warning">C/C++/Python</big>. Integracja silników nawigacji samochodowych firm
                     <big class="text-warning">Elektrobit/TomTom/Neusoft</big> oraz silników multimedialnych firmy <big class="text-warning">Cinemo</big>.
                     Automatyzacja prcesów integracyjnych z wykorzystaniem <big class="text-warning">Jenkins/CircleCI</big>.
                     Praca w standardzie <big class="text-warning">ASPICE</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2011-2013</h2>
                 <h5>
                     Praca w firmie <big class="text-warning">Pesa Bydgoszcz SA</big> na stanowisku <big class="text-warning">samodzielny konstruktor</big>
                     w dziale <big class="text-warning">Badań i Rozwoju</big>. Wykonywanie obowiązków programisty <big class="text-warning">systemów wbudowanych</big>
                     opartych o system operacyjny <big class="text-warning">Linux</big> polegających na implementacji aplikacji w
                     <big class="text-warning">C/C++/Python</big> z wykorzystaniem bibliotek <big class="text-warning">Qt</big> oraz
                     implementacji oprogramownia sterowników <big class="text-warning">PLC</big>, przy
                     silnym wykorzystaniu magistral komunikacyjnych <big class="text-warning">RS232/485, CAN, Ethernet</big>.
                     Praca z zagadnieniami bezpieczeństwa <big class="text-warning">functional safety, SIL</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2008-2012</h2>
                 <h5>
                     Studia inżynierskie na <big class="text-warning">Uniwersytecie Mikołaja Kopernika w Toruniu</big> o kierunku
                     <big class="text-warning">Automatyka i Robotyka</big> i specjalności <big class="text-warning">Systemy Mikroprocesorowe</big>
                     z naciskiem na programowanie komputerów w językach <big class="text-warning">C/C++/Python</big> oraz mikrokontrolerów
                     <big class="text-warning">AVR</big> i <big class="text-warning">STM32</big>  w <big class="text-warning">asemblerze</big> i
                     <big class="text-warning">C</big> oraz wykorzystaniu magistral komunikacyjnych <big class="text-warning">RS232/485, CAN, Ethernet</big>.
                     Wykonanie pracy inżynierskiej <big class="text-warning">Implementacja magistrali ethernet w mikrokontrolerach</big>
                     polegającej na wyposażeniu mikrokontrolerów <big class="text-warning">AVR atmega128</big> oraz <big class="text-warning">STM32f107</big>
                     w magistralę <big class="text-warning">ethernet</big> oraz stos <big class="text-warning">TCP/IP lwip</big>
                     i integrację systemu operacyjnego <big class="text-warning">FreeRTOS</big>. Wykonanie testowej sieci ethernetowej i implementacja
                     nadzorczej aplikacji komputerowej w <big class="text-warning">Qt C++</big>.
                 </h5>
                 </p>

                 <p class="mt-5">
                    <h2>2004-2008</h2>
                    <h5>
                        Nauka w <big class="text-warning">technikum elektronicznym w Bydgoszczy</big> z naciskiem na opracowywanie układów
                        cyfrowych oraz programowanie mikrokontrolerów <big class="text-warning">8051</big> i <big class="text-warning">AVR</big>
                        w <big class="text-warning">asemblerze</big> i <big class="text-warning">C</big> a także projektowanie obwodów drukowanych
                        w programach <big class="text-warning">EAGLE</big> i <big class="text-warning">Protel (Altium Designer)</big> jak również
                        automatyzacje procesu wytwarzania obwodów drukowanych metodą fotochemiczną.
                    </h5>
                 </p>

             </div>
         </div>
     </div>
{% endblock %}