{% extends "baza.html" %}

{% block glowa %}
    <title>O mnie</title>
{% endblock %}

{% block cialo %}
     <div class="container">
          <div class="row">

              <div class="col-md-4">
                  <div class="content-section mb-1 text-center">
                      <h3>Twój komputerowiec</h3>
                  </div>
                  <img class="rounded aktualnosci-img mb-1" src="{{ url_for('static', filename='/media/profil/piotrek24061988.jpg') }}">
                  <div class="content-section">
                      <h5>Piotr Górecki</h5>
                      <h5>piotrek24061988@gmail.com</h5>
                      <h5>53724061988</h5>
                  </div>

                  <div class="content-section">
                      <h6>języki programowania: <strong class="text-muted">C / C++ / Python</strong></h6>
                      <h6>frameworki: <strong class="text-muted">Autosar / Qt / Flask / Django</strong></h6>
                      <h6>web-dev: <strong class="text-muted">HTML / CSS / JS / Bootstrap</strong></h6>
                      <h6>sieci: <strong class="text-muted">Cisco CCNA / Wirtualizacja ESX</strong></h6>
                      <h6>osy: <strong class="text-muted">Windows / Linux / ESX / QNX / FreeRTOS / OSEK</strong></h6>
                      <h6>pcb: <strong class="text-muted">KiCAD / Protel (Altium Designer) / Eagle</strong></h6>
                      <h6>integracja: <strong class="text-muted">Jenkins / CircleCi</strong></h6>
                      <h6>hosting / claud: <strong class="text-muted">Heroku / PythonAnywhere</strong></h6>
                      <h6>magistrale: <strong class="text-muted">Ethernet / CAN / RS </strong></h6>
                      <h6>mikrokontrolery: <strong class="text-muted">8051 /AVR / STM / SPC56</strong></h6>
                      <h6>plc: <strong class="text-muted">Phoenix Contact / Selectron</strong></h6>
                  </div>
              </div>

              <div class="col-md-8 experience-section">

                  <div class="content-section m-3 text-center">
                      <h4>Elektronika / Automatyka / Robotyka / Informatyka / Programowanie</h4>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.globallogic.com/pl/" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/globallogic.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2021-obecnie</h4>
                          <h5 class="text-muted">Globallogic</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.globallogic.com/about/news/globallogic-acquires-meelogic" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/meelogic.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2019-2021</h4>
                          <h5 class="text-muted">Melogic Consulting</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://mobica.com" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/mobica.png') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2014-2019</h4>
                          <h5 class="text-muted">Mobica Limited</h5>
                          <h6>programista</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="http://pesa.pl" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/pesa.jpeg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2011-2013</h4>
                          <h5 class="text-muted">Pojazdy Szynowe Pesa Bydgoszcz SA</h5>
                          <h6>samodzielny konstruktor</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://www.fizyka.umk.pl/kaisp" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/umk.jpg') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2008-2012</h4>
                          <h5 class="text-muted">Uniwersystet Mikołaja Kopernika w Toruniu</h5>
                          <h6>inzynier automatyki i robotyki</h6>
                      </div>
                  </div>

                  <div class="row content-section m-3">
                      <a class="col-md-2" href="https://zse.bydgoszcz.pl" target="_blank">
                          <img class="aktualnosci-img float-left" src="{{ url_for('static', filename='/media/ikony/zse.png') }}">
                      </a>
                      <div class="col-md-10 text-center">
                          <h4>2004-2008</h4>
                          <h5 class="text-muted">Zespół Szkół Elektronicznych w Bydgoszczy</h5>
                          <h6>technik elektronik</h6>
                      </div>
                  </div>

              </div>

          </div>

         <div class="row">

             <div class="col-md-12 content-section test-justify">

                 <p>
                 <h2>2019-obecnie</h2>
                 <h5>
                     Praca w firmie <em class="text-muted">Meelogic Consulting</em>, która w latach 2020 i 2021 stała się częścią firm
                     <em class="text-muted">Globallogic</em> i <em class="text-muted">Hitachi</em>, na stanowisku <em class="text-muted">programisty</em>.
                     Programowanie systemów wbudowanych zarządzania baterii samochodów elektrycznych w języku <em class="text-muted">C</em> oraz z wykorzystaniem
                     środowiska <em class="text-muted">Matlab/Simulink</em> w oparciu o architekturę <em class="text-muted">AUTOSAR</em> przy użyciu
                     programów <em class="text-muted">Davinci Developer, CANoe, CANape</em>.
                     Praca w standardzie <em class="text-muted">ASPICE</em> z dużym naciskiem na problematykę <em class="text-muted">functional safety ASIL</em>.

                     <br><br>
                     Opracowywanie i implementacja stron internetowych, sklepów internetowych z podziałem na <em class="text-muted">backend</em> z wykorzystaniem języka
                     <em class="text-muted">Python</em> oraz frameworków <em class="text-muted">Django/Flask</em> oraz <em class="text-muted">frontend</em>
                     przy wykorzystaniu <em class="text-muted">HTML/CSS/JS/Bootstrap</em>. Praca z wykorzystaniem rozwiązań chmurowych/hostingowych
                     <em class="text-muted">Heroku</em> i <em class="text-muted">PythonAnywhere</em>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2014-2019</h2>
                 <h5>
                     Praca w firmie <em class="text-muted">Mobica Limited</em> na stanowisku <em class="text-muted">programisty</em>.
                     Programowanie komputerów pokładowych <em class="text-muted">car infotainment system</em> opratych o systemy operacyjne <em class="text-muted">Linux/Qnx</em> samochodów osobowych
                     z wykorzystaniem języków programowania <em class="text-muted">C/C++/Python</em>. Integracja silników nawigacji samochodowych firm
                     <em class="text-muted">Elektrobit/TomTom/Neusoft</em> oraz silników multimedialnych firmy <em class="text-muted">Cinemo</em>.
                     Automatyzacja prcesów integracyjnych z wykorzystaniem <em class="text-muted">Jenkins/CircleCI</em>.
                     Praca w standardzie <em class="text-muted">ASPICE</em>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2011-2013</h2>
                 <h5>
                     Praca w firmie <em class="text-muted">Pesa Bydgoszcz SA</em> na stanowisku <em class="text-muted">samodzielny konstruktor</em>
                     w dziale <em class="text-muted">Badań i Rozwoju</em>. Wykonywanie obowiązków programisty <em class="text-muted">systemów wbudowanych</em>
                     opartych o system operacyjny <em class="text-muted">Linux</em> polegających na implementacji aplikacji w
                     <em class="text-muted">C/C++/Python</em> z wykorzystaniem bibliotek <em class="text-muted">Qt</em> oraz
                     implementacji oprogramownia sterowników <em class="text-muted">PLC</em>, przy
                     silnym wykorzystaniu magistral komunikacyjnych <em class="text-muted">RS232/485, CAN, Ethernet</em>.
                     Praca z zagadnieniami bezpieczeństwa <em class="text-muted">functional safety, SIL</em>.
                 </h5>
                 </p>

                 <p class="mt-5">
                 <h2>2008-2012</h2>
                 <h5>
                     Studia inżynierskie na <em class="text-muted">Uniwersytecie Mikołaja Kopernika w Toruniu</em> o kierunku
                     <em class="text-muted">Automatyka i Robotyka</em> i specjalności <em class="text-muted">Systemy Mikroprocesorowe</em>
                     z naciskiem na programowanie komputerów w językach <em class="text-muted">C/C++/Python</em> oraz mikrokontrolerów
                     <em class="text-muted">AVR</em> i <em class="text-muted">STM32</em>  w <em class="text-muted">asemblerze</em> i
                     <em class="text-muted">C</em> oraz wykorzystaniu magistral komunikacyjnych <em class="text-muted">RS232/485, CAN, Ethernet</em>.
                     Wykonanie pracy inżynierskiej <em class="text-muted">Implementacja magistrali ethernet w mikrokontrolerach</em>
                     polegającej na wyposażeniu mikrokontrolerów <em class="text-muted">AVR atmega128</em> oraz <em class="text-muted">STM32f107</em>
                     w magistralę <em class="text-muted">ethernet</em> oraz stos <em class="text-muted">TCP/IP lwip</em>
                     i integrację systemu operacyjnego <em class="text-muted">FreeRTOS</em>. Wykonanie testowej sieci ethernetowej i implementacja
                     nadzorczej aplikacji komputerowej w <em class="text-muted">Qt C++</em>.
                 </h5>
                 </p>

                 <p class="mt-5">
                    <h2>2004-2008</h2>
                    <h5>
                        Nauka w <em class="text-muted">technikum elektronicznym w Bydgoszczy</em> z naciskiem na opracowywanie układów
                        cyfrowych oraz programowanie mikrokontrolerów <em class="text-muted">8051</em> i <em class="text-muted">AVR</em>
                        w <em class="text-muted">asemblerze</em> i <em class="text-muted">C</em> a także projektowanie obwodów drukowanych
                        w programach <em class="text-muted">EAGLE</em> i <em class="text-muted">Protel (Altium Designer)</em> jak również
                        automatyzacje procesu wytwarzania obwodów drukowanych metodą fotochemiczną.
                    </h5>
                 </p>

             </div>
         </div>
     </div>
{% endblock %}