{% extends "baza.html" %}

{% block glowa %}
        <title>Pliki</title>
{% endblock %}

{% block cialo %}
<div class="container">
        <div class="row">
                <div class="col-md-9">

                        {% if images %}
                        <div class="border-top">
                                <h3 class="text-center mt-1">zdjęcia</h3>
                        </div>
                        {% endif %}
                        <div class="row">
                                {% for image in images %}
                                <div class="col-xl-4 col-md-6 mb-1 float-left">
                                        <figure class="border text-center rounded content-section">
                                                <a href="{{image.url}}" target="_blank">
                                                        <img src="{{image.url}}" class="img-fluid galeryimg">
                                                {% if image.title %}
                                                        <figcaption class="text-light">{{image.title}}</figcaption>
                                                {% endif %}
                                                {% if current_user.is_authenticated  %}
                                                {% if current_user.email == admin %}
                                                {% if request.path == '/files' %}
                                                        <a class="btn btn-outline-secondary text-light" href="{{ url_for('usunPlik', plik_id=image.id, type='image') }}">Usuń</a>
                                                {% endif %}
                                                {% if request.path == '/files2' %}
                                                        <a class="btn btn-outline-secondary text-light" href="{{ url_for('usunPlik2', plik_id=image.id) }}">Usuń</a>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                </a>
                                        </figure>
                                </div>
                                {% endfor %}
                        </div>

                        {% if videos %}
                        <div class="border-top">
                                <h3 class="text-center mt-1">filmy</h3>
                        </div>
                        {% endif %}
                        <div class="row">
                                {% for video in videos %}
                                <div class="col-xl-6 mb-1 float-left">
                                        <figure class="border text-center rounded content-section">
                                                <a href="{{video.url}}" target="_blank">
                                                        <iframe src="{{video.url}}" class="img-fluid galeryimg" frameborder="0"
                                                                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                allowfullscreen>
                                                        </iframe>
                                                        {% if video.title %}
                                                                <figcaption class="text-light">{{video.title}}</figcaption>
                                                        {% endif %}
                                                        {% if current_user.is_authenticated  %}
                                                        {% if current_user.email == admin %}
                                                        {% if request.path == '/files' %}
                                                                <a class="btn btn-outline-secondary text-light" href="{{ url_for('usunPlik', plik_id=video.id, type='video') }}">Usuń</a>
                                                        {% endif %}
                                                        {% if request.path == '/files2' %}
                                                                <a class="btn btn-outline-secondary text-light" href="{{ url_for('usunPlik2', plik_id=video.id) }}">Usuń</a>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                </a>
                                        </figure>
                                </div>
                                {% endfor %}
                        </div>

                        {% if files %}
                        <div class="border-top">
                                <h3 class="text-center mt-1">skompresowane pliki</h3>
                        </div>
                        {% endif %}
                        <div class="row">
                                {% for file in files %}
                                <div class="col-xl-3 col-md-4 mb-1 float-left">
                                        <figure class="border text-center rounded content-section">
                                                <a href="{{file.url}}" download>
                                                        <img class="img-fluid galeryimg" src="{{ url_for('static', filename='/media/ikony/download.png') }}">
                                                        {% if file.title %}
                                                                <figcaption class="text-light">{{file.title}}</figcaption>
                                                        {% endif %}
                                                        {% if current_user.is_authenticated  %}
                                                        {% if current_user.email == admin %}
                                                        {% if request.path == '/files' %}
                                                                <a class="btn btn-outline-secondary text-light" href="{{ url_for('usunPlik', plik_id=file.id, type='raw') }}">Usuń</a>
                                                        {% endif %}
                                                        {% if request.path == '/files2' %}
                                                                <a class="btn btn-outline-secondary text-light" href="{{ url_for('usunPlik2', plik_id=file.id) }}">Usuń</a>
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                </a>
                                        </figure>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="border-bottom"></div>
                </div>

                <div class="col-md-3">
                        <div class="content-section">
                                <h3>Menu plików</h3>
                                <ul class="list-group">
                                        {% if current_user.is_authenticated  %}
                                        {% if current_user.email == admin %}
                                        {% if request.path == '/files' %}
                                                <a li class="list-group-item list-group-item-dark" href="{{ url_for('dodaniePliku') }}">Dodaj plik</a li>
                                        {% endif %}
                                        {% if request.path == '/files2' %}
                                                <a li class="list-group-item list-group-item-dark" href="{{ url_for('dodaniePliku2') }}">Dodaj plik</a li>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                </ul>
                        </div>
                </div>

        </div>
</div>
{% endblock %}