{% extends "baza.html" %}

{% block glowa %}
    <title>Profil</title>
{% endblock %}

{% block cialo %}

    <div class="content-section mb-5">
        <div class="media">
            <img class="rounded account-img" src="{{ zdjecie }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.email }}</h2>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4 text-light">Informacje o profilu</h3>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors  %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.zdjecie.label(class="btn btn-outline-secondary") }}
                    {{ form.zdjecie(class="myinput") }}
                    {% if form.zdjecie.errors %}
                        {% for error in form.zdjecie.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.potwierdzenie(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>

{% endblock %}