{% extends "baza.html" %}

{% block glowa %}
    <title>Profil</title>
{% endblock %}

{% block cialo %}

    <div class="content-section mb-5">
        <div class="media">
            <img class="rounded account-img" src="{{ zdjecie }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.email }}</h2>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-light">Informacje o profilu</legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Zaktualizuj</button>
            </div>
        </form>
    </div>

{% endblock %}