{% extends "baza.html" %}

{% block glowa %}
    <title>Rejestracja</title>
{% endblock %}

{% block cialo %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h3 class="border-bottom mb-4">Dokonaj rejestracji</h3>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors  %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.haslo.label(class="form-control-label") }}
                    {% if form.haslo.errors  %}
                        {{ form.haslo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.haslo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.haslo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.haslo2.label(class="form-control-label") }}
                    {% if form.haslo2.errors  %}
                        {{ form.haslo2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.haslo2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.haslo2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.potwierdzenie(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-light">
            Masz już konto? <a class="ml-2 article-title" href="{{ url_for('logowanie') }}">Zaloguj się</a>
        </small>
    </div>
{% endblock %}