{% extends "baza.html" %}

{% block glowa %}
<title>Sklep</title>
{% endblock %}

{% block cialo %}
<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                {% for produkt in sklep.items %}
                <div class="col-xl-6 mb-1 float-left">
                    <figure class="border text-center rounded content-section">
                        <a href="{{ url_for('produkt', produkt_id=produkt.id)  }}">
                            {% if produkt.zdjecie %}
                            <img src="{{ url_for('static', filename='media/sklep/' + produkt.zdjecie) }}"
                                 class="img-fluid galeryimg">
                            {% else %}
                            <img src="{{ url_for('static', filename='media/sklep/placeholder.png') }}"
                                 class="img-fluid galeryimg">
                            {% endif %}
                        </a>
                        <figcaption class="update-cart"><h5>{{ produkt.tytul }}</h5></figcaption>
                        <h5>cena: {{'%0.2f'|format(produkt.cena|float)}} zł</h5>
                        <h6>ilość w magazynie: {{ produkt.ilosc }}</h6>
                        {% if produkt.ilosc > 0 %}
                            <a class="btn btn-outline-secondary w-100 my-1 update-cart update-cart1" data-product={{ produkt.id }} data-action="add" href="{{ url_for('dodajDoKosza', produkt_id=produkt.id) }}">do koszyka</a>
                            <!--<button data-product={{ produkt.id }} data-action="add" class="btn btn-outline-secondary w-100 my-1 update-cart2">do koszyka</button>-->
                        {% else %}
                            <a class="btn btn-danger w-100 my-1 update-cart">wyprzedano</a>
                        {% endif %}
                    </figure>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-md-3">
            <div class="content-section">
                <h3>Menu Sklepu</h3>
                <ul class="list-group">
                    {% if current_user.is_authenticated  %}
                    {% if current_user.email == admin %}
                    <a class="list-group-item list-group-item-dark mb-1" href="{{ url_for('dodanieProduktu') }}">Dodaj produkt</a>
                    <a class="list-group-item list-group-item-dark mb-1" href="{{ url_for('historiaZamowien') }}">Historia zamowien</a>
                    {% endif %}
                    {% endif %}
                    <a class="list-group-item list-group-item-dark mb-1" href="{{ url_for('karta') }}">Idż do kasy</a>
                </ul>
            </div>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='ciasteczka.js') }}"></script>
<script type="text/javascript">
         var userAuthenticated = '{{ current_user.is_authenticated }}'
</script>
<script src="{{ url_for('static', filename='tokenCSRF.js') }}"></script>
<script src="{{ url_for('static', filename='sklep.js') }}"></script>
{% endblock %}