{% extends "baza.html" %}

{% block glowa %}
<title>Sklep</title>
{% endblock %}

{% block cialo %}
<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="row">
                {% for produkt in sklep.items %}
                <div class="col-xl-6 mb-1 float-left">
                    <figure class="border text-center rounded content-section">
                        <a href="{{ url_for('produkt', produkt_id=produkt.id)  }}">
                            <img src="{{ url_for('static', filename='media/sklep/' + produkt.zdjecie) }}"
                                 class="img-fluid galeryimg">
                        </a>
                        <figcaption class="update-cart"><h5>{{ produkt.tytul }}</h5></figcaption>
                        <h5>cena: {{ produkt.cena }} zł</h5>
                        <h6>ilość w magazynie: {{ produkt.ilosc }}</h6>
                        <!--<button data-product={{ produkt.id }} data-action="add" class="btn btn-outline-secondary w-100 my-1 update-cart">do koszyka</button>-->
                        <a class="btn btn-outline-secondary w-100 my-1 update-cart" href="{{ url_for('dodajDoKosza', produkt_id=produkt.id) }}">do koszyka</a>
                    </figure>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-md-3">
            <div class="content-section">
                <h3>Menu Sklepu</h3>
                <ul class="list-group">
                    {% if current_user.is_authenticated  %}
                    {% if current_user.email == admin %}
                    <a li class="list-group-item list-group-item-dark mb-1" href="{{ url_for('dodanieProduktu') }}">Dodaj produkt</a li>
                    <a li class="list-group-item list-group-item-dark mb-1" href="{{ url_for('historiaZamowien') }}">Historia zamowien</a li>
                    {% endif %}
                    {% endif %}
                    <a li class="list-group-item list-group-item-dark mb-1" href="{{ url_for('karta') }}">Idż do kasy</a li>
                </ul>
            </div>
        </div>

    </div>

</div>
{% endblock %}