{% extends "baza.html" %}

{% block glowa %}
<title>Zamowienie</title>
{% endblock %}

{% block cialo %}
<div class="row">
    <div class="col-md-6">

        <div class="border text-center rounded bg-dark store-section mb-5" id="payment-info">
            <h3 class="border-bottom mb-4 text-center ml-3 mr-3">Konto bankowe</h3>
            <p class="">Piotr Górecki</p>
            <p class="">Dworcowa 13/66</p>
            <p class="mt-1">85-009 Bydgoszcz</p>
            <p class="mt-1">mBank: 75 1140 2004 0000 3102 7444 1064</p>
            <p class="mt-5 ml-3 mr-3 text-justify">w tytule proszę podać id zamówienia, które zostanie przesłane mailowo razem z potwierdzeniem</p>
        </div>

        <div class="content-section">
            <form method="POST" id="orderForm">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <h3 class="border-bottom mb-4 text-center"> Informacje o płatności </h3>
                    <div class="form-group">
                        {{ form.platnosc.label(class="form-control-label") }}
                        {% if form.platnosc.errors %}
                        {{ form.platnosc(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.platnosc.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.platnosc(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <h3 class="border-bottom mb-4 text-center"> Informacje o dostawie </h3>
                    {% if not zamowienie.tylkoCyfrowe %}
                    <div class="form-group">
                        {{ form.adres.label(class="form-control-label") }}
                        {% if form.adres.errors %}
                        {{ form.adres(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.adres.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.adres(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.miasto.label(class="form-control-label") }}
                        {% if form.miasto.errors %}
                        {{ form.miasto(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.miasto.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.miasto(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.kod.label(class="form-control-label") }}
                        {% if form.kod.errors %}
                        {{ form.kod(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.kod.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.kod(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.numer.label(class="form-control-label") }}
                        {% if form.numer.errors %}
                        {{ form.numer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.numer.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.numer(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.uwagi.label(class="form-control-label") }}
                        {% if form.uwagi.errors %}
                        {{ form.uwagi(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.uwagi.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.uwagi(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group text-center">
                {% if current_user.is_authenticated %}
                    {{ form.potwierdzenie(class="btn btn-outline-secondary process-order1") }}
                {% endif %}
                </div>
            </form>
            <div class="form-group text-center">
            {% if not current_user.is_authenticated %}
                <button class="btn btn-outline-secondary process-order1">Potwierdz zamówienie</button>
            {% endif %}
            </div>
            <!--<button data-order={{ zamowienie.id }} data-action="order" class="btn btn-outline-secondary w-100 text-light my-1 process-order2">Potwierdz zamówienie</button>-->
        </div>
    </div>

    <div class="col-md-6">
        <div class="border text-center rounded bg-dark store-section mb-5">
            <a href="{{ url_for('karta') }}">
                <button class="btn btn-outline-secondary update-cart m-1">Modyfikuj</button>
            </a>
            <p>Podsumowanie zamówienia</p>
            <table class="table">
                {% for zamowienieProduktu in zamowienie.obiektZamowienia %}
                <tr>
                    <th>
                        <a href="{{ url_for('produkt', produkt_id=zamowienieProduktu.produkt.id) }}">
                            <img src="{{ url_for('static', filename='media/sklep/' + zamowienieProduktu.produkt.zdjecie) }}"
                                 class="img-fluid text-center" style="max-width: 35px; height: auto;">
                        </a>
                    </th>
                    <th><h6>{{ zamowienieProduktu.produkt.nazwa }}</h6></th>
                    <th><h6>{{ zamowienieProduktu.ilosc }}</h6></th>
                    <th><h6>{{'%0.2f'|format(zamowienieProduktu.calkowitaCena|float)}}</h6></th>
                </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <th></th>
                    <th><h6>Produkty: {{ zamowienie.iloscProduktow }}</h6></th>
                    <th><h6>Kwota: {{'%0.2f'|format(zamowienie.lacznaCena|float)}} zł</h6></th>
                </tr>
            </table>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='ciasteczka.js') }}"></script>
<script type="text/javascript">
         var userAuthenticated = '{{ current_user.is_authenticated }}'
</script>
<script src="{{ url_for('static', filename='tokenCSRF.js') }}"></script>
<script src="{{ url_for('static', filename='sklep.js') }}"></script>
{% endblock %}