<!DOCTYPE HTML>
<html lang="pl">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="descripion" content="serwis komputerowy TwójKomputerowiec">
        <meta name="keywords" content="serwis, naprawa,komputer">
        <meta name="author" content="Piotr Górecki">

        <!--<link rel="shortcut icon" href="/media/logo/serwmedIcon.png">-->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='glowny.css') }}">

        {% block glowa %}{% endblock %}
    </head>

    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
                <div class="container">
                    <!--<a class="navbar-brand" href="#">
                        <img class="main-logo-img" src="/media/logo/serwmedWhite.png">
                    </a>-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="#">Strona domowa</a>
                            <a class="nav-item nav-link" href="#">Aktualności</a>
                            <a class="nav-item nav-link" href="#">Kontakt</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="subnav" aria-haspopup="true">O mnie</a>
                                <div class="dropdown-menu" aria-labelledby="subnav">
                                    <a class="dropdown-item" href="#">Zawodowo</a>
                                    <a class="dropdown-item" href="#">Prywatnie</a>
                                </div>
                            </li>
                            <a class="nav-item nav-link" href="#">Galeria</a>
                        </div>

                        <div class="navbar-nav">
                            {% if user %}
                                <a class="nav-item nav-link" href="#">Profil</a>
                                <a class="nav-item nav-link" href="#">Wylogowanie</a>
                            {% else %}
                                <a class="nav-item nav-link" href="#">Logowanie</a>
                                <a class="nav-item nav-link" href="#">Rejestracja</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            {% block cialo %}{% endblock %}
        </main>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>