
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-bitbucket-squared:before { content: '\f172'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */