body {
  background-image: url('media/tlo/network-4556932_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.site-header .navbar-nav .dropdown-item {
  color: #ffffff;
  font-weight: bold;
}

.site-header .navbar-nav .dropdown-item:hover {
  color: #ffffff;
  background-color: #868e96 !important;
}

.site-header .navbar-nav .btn-outline-secondary {
  font-weight: bold;
  color: #ffffff;
}

.site-header .navbar-nav .btn-outline-secondary:hover {
  font-weight: bold;
}

.content-section {
  background: #343a40;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #868e96;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #ffffff;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.blog-img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.content-section .list-group-item-dark {
  color: #ffffff;
}

.content-section .list-group-item-dark:hover {
  color: #868e96;
}

.form-group .form-control-label {
  color: #ffffff;
}

.form-group .btn-outline-secondary {
  font-weight: bold;
  color: #ffffff;
}