body {
  background-image: url('media/tlo/network.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 5rem;
  font-family: 'Teko', sans-serif;
  color: white;
}

.site-header .navbar-nav .dropdown-item {
  color: white;
  font-weight: bold;
}

.site-header .navbar-nav .dropdown-item:hover {
  color: white;
  background-color: #868e96 !important;
}

.site-header .navbar-nav .btn-outline-secondary {
  font-weight: bold;
  color: #ffffff;
}

.site-header .navbar-nav .btn-outline-secondary:hover {
  font-weight: bold;
}

.content-section {
  background: #343a40;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px 2px rgba(255,255,255,1);
}

.content-section a:hover {
    text-decoration: none;
}

.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #868e96;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #ffffff;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.blog-img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.content-section .list-group-item-dark {
  color: #ffffff;
}

.content-section .list-group-item-dark:hover {
  color: #868e96;
}

.form-group .form-control-label {
  color: #ffffff;
}

.form-group .btn-outline-secondary {
  font-weight: bold;
  color: #ffffff;
}

.media-body .btn-outline-secondary {
  font-weight: bold;
  color: #ffffff;
}

.modal-content {
  background: #343a40;
  color: #ffffff;
}

.modal-content .btn-outline-secondary {
  font-weight: bold;
}

.col-md-8 .btn-outline-secondary {
  font-weight: bold;
  background: #343a40;
  color: #ffffff;
}

.col-md-8 .btn-outline-secondary:hover {
  color: #868e96;
}

.aktualnosci-img {
  width: 100%;
  height: auto;
}

.aktualnosci-video {
  height: 100%;
  width: 100%;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.scrollup {
    width: 100px;
    height: 128px;
    background: url("media/ikony/scrollup.png");
    background-repeat: no-repeat;
    background-size: cover;
    position : fixed;
    right: 25px;
    bottom: 25px;
    display: none;
    z-index:1;
    transition: all 0.5s ease-in-out;
}

.scrollup:hover {
    transform: scale(0.7);
}

figure {
    margin: 10px;
    padding: 0;
}

figcaption {
    margin-top: 5px;
}

.experience-section {
  background: #343a40;
  padding: 10px 0px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.domowa {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.box {
    position: relative;
    width:  25vw;
    height: 25vh;
    transform-style: preserve-3d;
    animation: animate 60s linear infinite;
    animation-direction: reverse;
}

.box:hover {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(30vw);
}

.box span:hover {
    width: 100%;
    height: 100%;
}

.linknr {
    position: relative;
}

.linknr .overlay {
    position: absolute;
    top: 0;
    padding: 1%;
    background: black;
    color: white;
    opacity: 0;
    width: 100%;
    transition: opacity 2s ease-in-out;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.linknr:hover .overlay {
    opacity: 0.8;
}

@media (max-width: 800px) {

    .domowa {
        min-height: 100vh;
    }

    .box {
        width:  50vw;
        height: 50vh;
    }

    @keyframes animate {
        0% {
            transform: perspective(1000px) rotateX(0deg);
        }
        100% {
            transform: perspective(1000px) rotateX(360deg);
        }
    }

    .box span {
        transform: rotateX(calc(var(--i) * 45deg)) translateZ(45vw);
    }

    .box span:hover {
        width: 80%;
        height: 80%;
    }
}

.figure-section {
  background: #343a40;
  padding: 1px 1px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 2px rgba(255,255,255,1);
}

.figure-text {
    font-size: 1vw;
    color: white;
    text-align: center;
}

.details {
    margin-top: 300px;
}

.domeindetail {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #343a40;
    padding: 1px 1px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 10px 2px rgba(255,255,255,1);
}

.domeindetailimage {
    padding: 10px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    max-width: 100%;
    width: 260px;
    height: auto;
}

.domeindetailimage img {
    border-radius: 10px;
    box-shadow: 10px 10px 48px 0px rgba(47,120,138,1);
}

.domeindescription {
    vertical-align: middle;
    display: inline-block;
    width: 70%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.domeindescription h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.domainfoto {
    width: 100%;
    height: auto;
    filter: brightness(100%);
}

.socials
{
    text-align: center;
    background-color: #343a40;
    margin-top: 30px;
}

.socialmedia
{
    width: 25%;
    height: auto;
    float:left;
    padding: 10px 0px 10px 0px;
    color: white;
}

.socialmedia:hover
{
    color: white;
}

.youtube:hover
{
    background-color: #d94348;
}

.github:hover
{
    background-color: #e0e0e0;
    color: black;
}

.bitbucket:hover
{
    background-color: #e0e0e0;
    color: #2684ff;
}

.linkedin:hover
{
    background-color: #0e76a8;
}

.myinput {
    display: none;
}

.galeryimg {
    padding: 2%;
    margin: 3% 0;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.galeryimg:hover {
    transform: scale(1.1);
}

#zegar {
    margin-left: 12px;
    margin-top: 8px;
    text-align: center;
    margin-right: 3px;
}

.basket-img {
  height: 35px;
  margin-top: 3px;
  width: auto;
  margin-left: 3px;
  float: left;
}

#cart-total {
    float: left;
    margin-left: 3px;
    color: white;
}

.update-cart {
  font-weight: bold;
  color: #ffffff;
}

.update-cart2 {
  font-weight: bold;
  color: #ffffff;
}

.store-section {
    box-shadow: 3px 3px 10px 2px rgba(255,255,255,1);
}

.store-quant {
    display: inline-block;
    max-width: 25px;
    height: auto;
}

.store-quant-img {
    display: inline-block;
    max-width: 30px;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.store-quant-img:hover {
    transform: scale(0.7);
}

.form-field {
    width: 250px;
    padding: 5px;
    display: inline-block;
}

.hidden {
    display: none;
}